{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}

<section id="sections">
    <div class="comments">
<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>


<h2>Добро пожаловать в интернет-магазин Life is motion! Здесь вы сможете приобрести велосипед, а также запчасти, аксессуары и экипировку для него.</h2>

<p>История компании «Life is motion» началась в 2020 году с небольшого интернет-магазина по продаже велосипедов, аксессуаров и запчастей.</p>

<p>Магазин вышел на рынок, продавая велосипеды Stark, Black One и Challenger, и только по прошествии нескольких лет «Life is motion» стал мультибрендовым магазином.</p>

<p>Для удобства покупателей интернет-магазин осуществляет доставку по всей России, работая над снижением стоимости и сроков отправки. Более чем в 20 городах России работают точки выдачи заказов. Каждый день мы стараемся сделать так, чтобы покупка велосипеда стала простой и приятной, где бы вы ни находились.</p>

<h2>Как выбрать велосипед?</h2>
<p>Мы предлагаем вам открыть увлекательный мир свободного передвижения, активного спорта и общения. У нас легко купить велосипед, подходящий именно вам. Для того чтобы облегчить выбор, вы можете следовать простой схеме.</p>

<p>Задайте себе несколько вопросов: по какой местности вы собираетесь передвигаться и с какой интенсивностью. Это поможет определиться с типом велосипеда (например, пересеченная местность — гибриды, горные и двухподвесы; город — городские, круизеры и складные; детские — для детей от 1,5 до 9 лет; подростковые и BMX — для подростков от 7 до 15 лет; женские — для девушек и женщин).</p>
<p>После этого советуем ознакомиться с брендами и их историей.</p>
<p>На данном этапе у вас есть вся необходимая информация, вы готовы сделать заказ. Не забудьте купить необходимые аксессуары.</p>
</br></br>

<p>Для тех, кто не хочет терять драгоценное время на изучение материалов, есть выход: либо воспользоваться профессиональной помощью по телефону, либо приехать к нам в магазин и пообщаться с консультантами лично.</p>

<p>Мы уверены, что в нашем интернет-магазине вы найдете «верного спутника» на долгие годы.</p>
</br>
<h2>Преимущества магазина велосипедов «Life is motion»</h2>
<ul>
    <li>Бесплатная доставка. Жители Москвы, Московской области, Санкт-Петербурга, Ленобласти и Пскова могут воспользоваться одним из преимуществ — услугой бесплатной доставки. Об условиях предоставления читайте на странице «Доставка».</li>
    <li>Отправка в Регионы России. Доставка велосипедов в регионы России производится транспортными компаниями – нашими надежными партнерами. Перечень городов, в которые мы транспортируем велосипеды, вы найдете на странице «Доставка».</li>
    <li>Гарантия на велосипеды. Все представленные велосипеды имеют официальную гарантию от мировых производителей. Условия и список мастерских, в которых вы можете получить гарантийное обслуживание, вы найдете на странице «Гарантия».</li>
    <li>Мастерская и сервисный ремонт. С 2013 года действует наша профессиональная мастерская в д. Ленино, Живописная 186-188. С перечнем услуг, ценами и режимом работы можно ознакомиться, перейдя по ссылке «Мастерская».</li>
    <li>Широкий выбор. Мы сотрудничаем с известными производителями среднего ценового сегмента.</li>
</ul>
        </div>
    </section>
{% endblock %}
